{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Подтверждение электронного адреса" %}{% endblock %}

{% block content %}
<h1>{% trans "Подтверждение электронного адреса" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Пусто{% endblocktrans %}</p>

<p>{% blocktrans %}Пусто{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Примечание:</strong> Вы можете <a href="{{ email_url }}">изменить адрес электронной почты</a>.{% endblocktrans %}</p>


{% endblock %}
