<footer class="page-footer text-center font-small mt-4 wow fadeIn">
  <hr class="my-4">

  <div class="footer-content">
    <div class="mr-auto">
      <a href="{% url 'store:request-refund' %}" target="_blank">
        <i class="fab fa-revert mr-3"></i>Запросить возврат
      </a>
    </div>

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://t.me/Sergey8951" target="_blank">
        <i class="fab fa-telegram mr-5"></i>
      </a>
    </div>
    <!-- Social icons -->
  </div>

  <!--Copyright-->
  <div class="footer-copyright py-2">
    <a href="#" target="_blank"> © TStore 2023</a>
  </div>
  <!--/.Copyright-->

  <style>
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  </style>
</footer>
